USE [PRJ]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 11/4/2022 01:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[username] [varchar](150) NOT NULL,
	[password] [varchar](150) NOT NULL,
	[displayname] [varchar](150) NOT NULL,
	[id] [nvarchar](50) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendence]    Script Date: 11/4/2022 01:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendence](
	[attend] [nvarchar](50) NOT NULL,
	[sessionid] [nvarchar](50) NOT NULL,
	[sid] [nvarchar](7) NOT NULL,
	[status] [bit] NULL,
	[timerecord] [datetime] NULL,
 CONSTRAINT [PK_Attendence] PRIMARY KEY CLUSTERED 
(
	[attend] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feature]    Script Date: 11/4/2022 01:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feature](
	[fid] [int] NOT NULL,
	[fname] [varchar](150) NOT NULL,
	[url] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Feature] PRIMARY KEY CLUSTERED 
(
	[fid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 11/4/2022 01:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[gid] [nvarchar](50) NOT NULL,
	[subjectid] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[gid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecturer]    Script Date: 11/4/2022 01:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecturer](
	[lecturerid] [nvarchar](50) NOT NULL,
	[lecturername] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Lecturer] PRIMARY KEY CLUSTERED 
(
	[lecturerid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/4/2022 01:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[rid] [int] NOT NULL,
	[rname] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[rid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role_Account]    Script Date: 11/4/2022 01:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role_Account](
	[rid] [int] NOT NULL,
	[username] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Role_Account] PRIMARY KEY CLUSTERED 
(
	[rid] ASC,
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role_Feature]    Script Date: 11/4/2022 01:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role_Feature](
	[rid] [int] NOT NULL,
	[fid] [int] NOT NULL,
 CONSTRAINT [PK_Role_Feature] PRIMARY KEY CLUSTERED 
(
	[rid] ASC,
	[fid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 11/4/2022 01:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[room] [nvarchar](50) NOT NULL,
	[building] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[room] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Session]    Script Date: 11/4/2022 01:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[sessionid] [nvarchar](50) NOT NULL,
	[gid] [nvarchar](50) NOT NULL,
	[date] [date] NOT NULL,
	[room] [nvarchar](50) NOT NULL,
	[slot] [int] NOT NULL,
	[attend] [bit] NULL,
 CONSTRAINT [PK_Session] PRIMARY KEY CLUSTERED 
(
	[sessionid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 11/4/2022 01:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[sid] [nvarchar](7) NOT NULL,
	[sname] [nvarchar](50) NOT NULL,
	[gender] [bit] NOT NULL,
	[dob] [date] NOT NULL,
	[hometown] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student_Group]    Script Date: 11/4/2022 01:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Group](
	[sid] [nvarchar](7) NOT NULL,
	[gid] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 11/4/2022 01:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[subjectid] [nvarchar](50) NOT NULL,
	[subjectname] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[subjectid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Superviser]    Script Date: 11/4/2022 01:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Superviser](
	[gid] [nvarchar](50) NOT NULL,
	[lecturerid] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlot]    Script Date: 11/4/2022 01:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlot](
	[slot] [int] NOT NULL,
	[time] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TimeSlot] PRIMARY KEY CLUSTERED 
(
	[slot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([username], [password], [displayname], [id]) VALUES (N'anhkd', N'anhkd', N'Duc Anh', N'anhkd')
INSERT [dbo].[Account] ([username], [password], [displayname], [id]) VALUES (N'dang', N'dang', N'Pham Hong Dang', N'HE16004')
INSERT [dbo].[Account] ([username], [password], [displayname], [id]) VALUES (N'hoan', N'hoan', N'Nguyen Dinh Hoan', N'HE16002')
GO
INSERT [dbo].[Attendence] ([attend], [sessionid], [sid], [status], [timerecord]) VALUES (N'HE16000-SE1601-IOT102-1', N'SE1601-IOT102-1', N'HE16000', 1, CAST(N'2022-10-30T01:16:50.473' AS DateTime))
INSERT [dbo].[Attendence] ([attend], [sessionid], [sid], [status], [timerecord]) VALUES (N'HE16000-SE1601-IOT102-10', N'SE1601-IOT102-10', N'HE16000', 1, CAST(N'2022-10-30T01:16:59.590' AS DateTime))
INSERT [dbo].[Attendence] ([attend], [sessionid], [sid], [status], [timerecord]) VALUES (N'HE16000-SE1601-IOT102-11', N'SE1601-IOT102-11', N'HE16000', 1, CAST(N'2022-10-30T01:17:00.847' AS DateTime))
GO
INSERT [dbo].[Feature] ([fid], [fname], [url]) VALUES (1, N'TimeTableLecturer', N'/lecturer/timetable')
INSERT [dbo].[Feature] ([fid], [fname], [url]) VALUES (2, N'AttendLecturer', N'/lecturer/attend')
INSERT [dbo].[Feature] ([fid], [fname], [url]) VALUES (3, N'ListAttendLecturer', N'/lecturer/listattend')
GO
INSERT [dbo].[Group] ([gid], [subjectid]) VALUES (N'SE1601-IOT102', N'IOT102')
INSERT [dbo].[Group] ([gid], [subjectid]) VALUES (N'SE1601-JPD123', N'JPD123')
INSERT [dbo].[Group] ([gid], [subjectid]) VALUES (N'SE1601-LAB201', N'LAB201')
GO
INSERT [dbo].[Lecturer] ([lecturerid], [lecturername]) VALUES (N'anhkd', N'Khuat Duc Anh')
INSERT [dbo].[Lecturer] ([lecturerid], [lecturername]) VALUES (N'hoaptt', N'Pham Thi Thanh Hoa')
INSERT [dbo].[Lecturer] ([lecturerid], [lecturername]) VALUES (N'nangnth', N'Nguyen Thi Hai Nang')
GO
INSERT [dbo].[Role] ([rid], [rname]) VALUES (1, N'Lecturer')
INSERT [dbo].[Role] ([rid], [rname]) VALUES (2, N'IT')
INSERT [dbo].[Role] ([rid], [rname]) VALUES (3, N'Khao Khi')
GO
INSERT [dbo].[Role_Account] ([rid], [username]) VALUES (1, N'anhkd')
INSERT [dbo].[Role_Account] ([rid], [username]) VALUES (1, N'hoaptt')
INSERT [dbo].[Role_Account] ([rid], [username]) VALUES (1, N'nangnth')
GO
INSERT [dbo].[Role_Feature] ([rid], [fid]) VALUES (1, 1)
INSERT [dbo].[Role_Feature] ([rid], [fid]) VALUES (1, 2)
INSERT [dbo].[Role_Feature] ([rid], [fid]) VALUES (1, 3)
GO
INSERT [dbo].[Room] ([room], [building]) VALUES (N'AL-204L', N'ALPHA')
INSERT [dbo].[Room] ([room], [building]) VALUES (N'BE-202', N'BETA')
INSERT [dbo].[Room] ([room], [building]) VALUES (N'DE-C205', N'DELTA')
GO
INSERT [dbo].[Session] ([sessionid], [gid], [date], [room], [slot], [attend]) VALUES (N'SE1601-IOT102-1', N'SE1601-IOT102', CAST(N'2022-09-06' AS Date), N'DE-C208', 6, 1)
INSERT [dbo].[Session] ([sessionid], [gid], [date], [room], [slot], [attend]) VALUES (N'SE1601-IOT102-10', N'SE1601-IOT102', CAST(N'2022-09-27' AS Date), N'DE-C208', 6, 1)
INSERT [dbo].[Session] ([sessionid], [gid], [date], [room], [slot], [attend]) VALUES (N'SE1601-IOT102-11', N'SE1601-IOT102', CAST(N'2022-09-29' AS Date), N'DE-C208', 5, 1)
GO
INSERT [dbo].[Student] ([sid], [sname], [gender], [dob], [hometown]) VALUES (N'HE16000', N'Nguyen Van Vuong', 1, CAST(N'2002-02-28' AS Date), N'Cua Lo, Nghe An')
INSERT [dbo].[Student] ([sid], [sname], [gender], [dob], [hometown]) VALUES (N'HE16001', N'Nguyen Van Quang', 1, CAST(N'2002-04-21' AS Date), N'Cau Giay, Ha Noi')
INSERT [dbo].[Student] ([sid], [sname], [gender], [dob], [hometown]) VALUES (N'HE16002', N'Nguyen Dinh Hoan', 1, CAST(N'2002-01-29' AS Date), N'Hai Duong')
GO
INSERT [dbo].[Student_Group] ([sid], [gid]) VALUES (N'HE16000', N'SE1601-PRJ301')
INSERT [dbo].[Student_Group] ([sid], [gid]) VALUES (N'HE16001', N'SE1601-PRJ301')
INSERT [dbo].[Student_Group] ([sid], [gid]) VALUES (N'HE16002', N'SE1601-PRJ301')
GO
INSERT [dbo].[Subject] ([subjectid], [subjectname]) VALUES (N'IOT102', N'Internet of Things')
INSERT [dbo].[Subject] ([subjectid], [subjectname]) VALUES (N'JPD123', N'Elementary Japanese')
INSERT [dbo].[Subject] ([subjectid], [subjectname]) VALUES (N'LAB201', N'OOP with Java Lab')
GO
INSERT [dbo].[Superviser] ([gid], [lecturerid]) VALUES (N'SE1601-PRJ301', N'sonnt5')
INSERT [dbo].[Superviser] ([gid], [lecturerid]) VALUES (N'SE1601-MAS291', N'tamntm')
INSERT [dbo].[Superviser] ([gid], [lecturerid]) VALUES (N'SE1601-JPD123', N'hoaptt')
GO
INSERT [dbo].[TimeSlot] ([slot], [time]) VALUES (1, N'7h30-9h')
INSERT [dbo].[TimeSlot] ([slot], [time]) VALUES (2, N'9h10-10h40')
INSERT [dbo].[TimeSlot] ([slot], [time]) VALUES (3, N'10h50-12h20')
GO
ALTER TABLE [dbo].[Attendence]  WITH CHECK ADD  CONSTRAINT [FK_Attendence_Session] FOREIGN KEY([sessionid])
REFERENCES [dbo].[Session] ([sessionid])
GO
ALTER TABLE [dbo].[Attendence] CHECK CONSTRAINT [FK_Attendence_Session]
GO
ALTER TABLE [dbo].[Attendence]  WITH CHECK ADD  CONSTRAINT [FK_Attendence_Student] FOREIGN KEY([sid])
REFERENCES [dbo].[Student] ([sid])
GO
ALTER TABLE [dbo].[Attendence] CHECK CONSTRAINT [FK_Attendence_Student]
GO
ALTER TABLE [dbo].[Group]  WITH CHECK ADD  CONSTRAINT [FK_Group_Subject] FOREIGN KEY([subjectid])
REFERENCES [dbo].[Subject] ([subjectid])
GO
ALTER TABLE [dbo].[Group] CHECK CONSTRAINT [FK_Group_Subject]
GO
ALTER TABLE [dbo].[Role_Account]  WITH CHECK ADD  CONSTRAINT [FK_Role_Account_Account] FOREIGN KEY([username])
REFERENCES [dbo].[Account] ([username])
GO
ALTER TABLE [dbo].[Role_Account] CHECK CONSTRAINT [FK_Role_Account_Account]
GO
ALTER TABLE [dbo].[Role_Account]  WITH CHECK ADD  CONSTRAINT [FK_Role_Account_Role] FOREIGN KEY([rid])
REFERENCES [dbo].[Role] ([rid])
GO
ALTER TABLE [dbo].[Role_Account] CHECK CONSTRAINT [FK_Role_Account_Role]
GO
ALTER TABLE [dbo].[Role_Feature]  WITH CHECK ADD  CONSTRAINT [FK_Role_Feature_Feature] FOREIGN KEY([fid])
REFERENCES [dbo].[Feature] ([fid])
GO
ALTER TABLE [dbo].[Role_Feature] CHECK CONSTRAINT [FK_Role_Feature_Feature]
GO
ALTER TABLE [dbo].[Role_Feature]  WITH CHECK ADD  CONSTRAINT [FK_Role_Feature_Role] FOREIGN KEY([rid])
REFERENCES [dbo].[Role] ([rid])
GO
ALTER TABLE [dbo].[Role_Feature] CHECK CONSTRAINT [FK_Role_Feature_Role]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Group] FOREIGN KEY([gid])
REFERENCES [dbo].[Group] ([gid])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Group]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Room] FOREIGN KEY([room])
REFERENCES [dbo].[Room] ([room])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Room]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_TimeSlot] FOREIGN KEY([slot])
REFERENCES [dbo].[TimeSlot] ([slot])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_TimeSlot]
GO
ALTER TABLE [dbo].[Student_Group]  WITH CHECK ADD  CONSTRAINT [FK_Student_Group_Group] FOREIGN KEY([gid])
REFERENCES [dbo].[Group] ([gid])
GO
ALTER TABLE [dbo].[Student_Group] CHECK CONSTRAINT [FK_Student_Group_Group]
GO
ALTER TABLE [dbo].[Student_Group]  WITH CHECK ADD  CONSTRAINT [FK_Student_Group_Student] FOREIGN KEY([sid])
REFERENCES [dbo].[Student] ([sid])
GO
ALTER TABLE [dbo].[Student_Group] CHECK CONSTRAINT [FK_Student_Group_Student]
GO
ALTER TABLE [dbo].[Superviser]  WITH CHECK ADD  CONSTRAINT [FK_Superviser_Group] FOREIGN KEY([gid])
REFERENCES [dbo].[Group] ([gid])
GO
ALTER TABLE [dbo].[Superviser] CHECK CONSTRAINT [FK_Superviser_Group]
GO
ALTER TABLE [dbo].[Superviser]  WITH CHECK ADD  CONSTRAINT [FK_Superviser_Lecturer] FOREIGN KEY([lecturerid])
REFERENCES [dbo].[Lecturer] ([lecturerid])
GO
ALTER TABLE [dbo].[Superviser] CHECK CONSTRAINT [FK_Superviser_Lecturer]
GO
