<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>timetable</servlet-name>
        <servlet-class>controller.TimetableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>attend</servlet-name>
        <servlet-class>controller.AttendController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listattend</servlet-name>
        <servlet-class>controller.ListAttendController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>timetable</servlet-name>
        <url-pattern>/lecturer/timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>attend</servlet-name>
        <url-pattern>/lecturer/attend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listattend</servlet-name>
        <url-pattern>/lecturer/listattend</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
